<div class="container-fluid body-home">
  <!-- Header row -->
  <div class="row main-table mb-3">
    <div class="col-12 header-container">
      <p class="main-header">VDT0320 : ข้อมูลที่ต้องการค้นหา</p>
    </div>

    <div class="row align-items-end py-3">
      <!-- เลขที่ใบสรุป -->
      <div class="col-md-2 mb-3">
        <label for="vdtNo" class="form-label">เลขที่ใบสรุป</label>
        <input
          id="vdtNo"
          type="text"
          placeholder="ID000X (ตัวอย่าง)"
          class="form-control uniform-input"
          [(ngModel)]="formInput.vdtNo"
        />
      </div>

      <!-- วันที่ -->
      <div class="col-md-2 mb-3">
        <label for="date" class="form-label">วันที่</label>
        <input
          id="date"
          class="form-control uniform-input"
          type="text"
          bsDatepicker
          placeholder="dd/mm/yyyy"
          readonly
          [maxDate]="maxDate"
          [bsConfig]="{
            isAnimated: true,
            containerClass: 'theme-dark-blue',
            startView: 'year',
            showWeekNumbers: false
          }"
          style="background-color: white"
          [(bsValue)]="formInput.createDate"
        />
      </div>

      <!-- ปุ่มค้นหา -->
      <div class="col-md-2 mb-3">
        <button class="btn btn-success w-50" (click)="searchData()">
          ค้นหา
        </button>
      </div>
    </div>
  </div>

  <!-- Detail row -->
  <div class="row main-table mb-3">
    <div class="col-12">
      <app-detail
        (addDetail)="onAddDetail($event)"
        [editDetail]="selectedDetail"
        [reset]="resetFlag"
      ></app-detail>
      <app-table
        [dataHeader]="data.detailEntityList"
        (editItem)="onEditDetail($event)"
        (deleteItem)="deleteDetail($event)"
      ></app-table>
      <div class="btn-action">
        <button class="btn-save btn" (click)="saveData()">บันทึก</button>
        <button class="btn-print btn" (click)="printPdf()">พิมพ์ใบสรุป</button>
        <button class="btn-clear btn" (click)="clearScreen()">ล้างจอภาพ</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal ngx-bootstrap -->
<div
  class="modal fade"
  bsModal
  #seacrhModal="bs-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="seacrhModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ผลการค้นหา</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="seacrhModal.hide()"
        ></button>
      </div>

      <div class="modal-body modal-checkbox-list">
        <div
          *ngFor="let item of searchResult; let i = index"
          class="d-flex align-items-center mb-2"
        >
          <input
            type="radio"
            name="selectedHeader"
            [id]="'item-' + i"
            [(ngModel)]="selectedHeader"
            [value]="item"
            class="me-2"
          />
          <label [for]="'item-' + i"
            >ID000{{ item.vdtNo }} วันที่ {{ item.createDate | thshdate }}</label
          >
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" (click)="addSelectedItems()">
          เลือก
        </button>
        <button class="btn btn-secondary" (click)="seacrhModal.hide()">
          ปิด
        </button>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #pdfModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" style="max-width: 90vw;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Preview PDF</h5>
        <button type="button" class="close" (click)="pdfModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 80vh;">
        <iframe
          *ngIf="pdfUrl"
          [src]="pdfUrl | safeUrl"
          width="100%"
          height="100%"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
</div>
