.body-home {
  min-height: 100vh;
  background-color: #e3e4e5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  gap: 2px;
}

.header-container {
  border-bottom: 2px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 5px;
}

.main-table {
  background-color: white;
  border-radius: 5px;
  padding: 1px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  border-top: 4px solid #4dcbed;
}

.main-header {
  text-align: start;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}

.uniform-input,
select.form-select {
  height: 42px;
  line-height: 42px;
  padding: 0 0.75rem;
}

input.form-control,
select.form-select {
  height: 38px;
  width: 13rem;
}

label.form-label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: start;
}

.btn-action{
  margin-top: 30px;
  margin-bottom: 20px;
}

.btn-save,
.btn-print,
.btn-clear {
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.btn-save {
  background-color: rgb(43, 163, 43);
  color: white;
  margin-right: 10px;
}

.btn-save:hover {
  background-color: rgb(35, 140, 35);
  transform: translateY(-2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.btn-print {
  background-color: rgb(62, 166, 251);
  color: white;
}

.btn-print:hover {
  background-color: rgb(40, 140, 220);
  transform: translateY(-2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.btn-clear {
  background-color: rgb(232, 186, 4);
  color: white;
  margin-left: 150px;
}

.btn-clear:hover {
  background-color: rgb(200, 160, 3);
  transform: translateY(-2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.modal-checkbox-list {
  max-height: 100px;
  overflow-y: auto;
}
