.custom-table ::ng-deep .ant-table-thead>tr>th,
.custom-table ::ng-deep .ant-table-tbody>tr>td {
  border: 1px solid #e8e8e8;
  height: 70px;
  text-align: center;
}

:host ::ng-deep .custom-table .ant-table-thead>tr>th {
  background-color: #f0f0f0 !important;
}

.custom-table ::ng-deep *::-webkit-scrollbar {
  display: none !important;
}

.custom-table ::ng-deep * {
  scrollbar-width: none !important;
}

.col-table {
  width: 200px;
}

.btn-table {
  background: none;
  margin: 10px;
  border: none;
  width: 40px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
}
