.header-container {
  border-bottom: 2px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 5px;
}


.main-header {
  text-align: start;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}
